extends layout

block scripts
  script(src='/javascripts/worldClient.js')

block content
  h1= title
  div(class='div-writeup') 
    p= writeup
  div(class='div-reset-button')
    button(id='reset-button', onclick='reset()') Reset World
  div(class='div-sim', style=`--numRows:${numRows}; --numCols:${numCols}; --colWidth:${colWidth};`)
    each cell in world
      - var color
      if cell.dirtPresent
        - color="SaddleBrown"
      else
        - color="Cornsilk"
      div(class='sim-cell', id=cell.id, style=`--floorColor:${color}`)
        if cell.vacuumPresent
          div(class='vacuum')
            p vacuum
